.drawn_card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.drawn_card img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.drawn_content {
  position: absolute;
  top: -200px;
  left: 88%;
  padding: 10px;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  clip-path: polygon(100% 0%, 50% 9%, 0% 10%, 0% 100%, 100% 100%);
  transition: ease-in-out 0.5s;
}

.drawn_card:hover .drawn_content {
  top: 0px;
  transition: ease-in 0.5s;
}