*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
@media only screen and (min-width:992px) {
    .asdsa{
        display: none;
    }
}
nav{
    font-weight: 500;
}
.banner img{
    object-fit: cover;
    width: 100vw;
    height: 180px;
    position: relative;
}
.banner-caption{
    color: #fff;
    position: absolute;
    top: 29%;
    left: 43%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 992px)  {
    .socialnw{
        display: none;
    }
    .welcom{
        text-align: center;
        padding-right: 60px;
    }
    header hr{
        margin-bottom: 10px;
    }
    .hideicon{
        display: none;
    }
    .logo1{
       display: flex;
       justify-content: space-between;
    }
    .logo1 a{
        order: 1;
    }
    .logo1 button{
        order: 2;
    }
    .logo1 li{
        font-size: 25px;
    }
    .optio{
        margin-left: 480px;
    }
    .optio ul .optio1{
        margin-left: 22px;
    }
    .cent-img{
        margin-top: 135px;
    }
}
@media only screen and (max-width:768px) {
    .welcom{
        padding-right: 30px ;
    }
    .optio{
        margin-left: 300px  ;
    }
    .optio ul .optio1{
        margin-left: 22px ;
    }
    .cent-img{
        margin-top: 0px !important;
    }
}