* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 992px) {
  .asdsa {
    display: none;
  }
  .filterr {
    display: none;
  }
}
nav {
  font-weight: 500;
}
.list {
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
  height: 300px;
}
.list .list-top {
  background-color: #cc2121;
  color: #fff;
  width: 95%;
  height: 18%;
  margin-left: 7px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 15px;
}
.product a {
  color: #555555;
  font-weight: 600;
  padding-left: 20px;
}
.list1 {
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
  height: 405px;
}
.list1 .list-top {
  background-color: #cc2121;
  color: #fff;
  width: 95%;
  height: 13%;
  margin-left: 7px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 15px;
}
.product1 a {
  color: #555555;
  font-weight: 600;
}
figcaption {
  text-align: center;
}

.hover-animation {
  position: relative;
  height: 170px;
  width: 170px;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.hover-animation img {
  position: absolute;
  height: 170px;
  width: 170px;
  left: 0;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.hover-animation img.img-front:hover {
  opacity: 0;
  cursor: pointer;
}
.filterr {
  border: none;
  background-color: #fff;
  font-weight: bolder;
  margin-left: 335px;
  font-size: 17px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #cc2121;
}
.drawn_card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.drawn_content {
  position: absolute;
  top: -200px;
  left: 84%;
  padding: 6px;
  height: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eb3434;
  clip-path: polygon(100% 0%, 50% 9%, 0% 10%, 0% 100%, 100% 100%);
  transition: ease-in-out 0.5s;
}

.drawn_card:hover .drawn_content {
  top: 0px;
  transition: ease-in 0.5s;
}

@media only screen and (max-width: 992px) {
  .socialnw {
    display: none;
  }
  .welcom {
    text-align: center;
    padding-right: 60px;
  }
  header hr {
    margin-bottom: 10px;
  }
  .hideicon {
    display: none;
  }
  .logo1 {
    display: flex;
    justify-content: space-between;
  }
  .logo1 a {
    order: 1;
  }
  .logo1 button {
    order: 2;
  }
  .logo1 li {
    font-size: 25px;
  }
  .optio {
    margin-left: 480px;
  }
  .optio ul .optio1 {
    margin-left: 22px;
  }
  .loca {
    justify-content: center;
    margin-top: -20px;
  }
  .filter select {
    margin-left: 216px;
    margin-top: 30px;
  }
  .filter p {
    display: none !important;
  }
  .listt {
    display: none;
    height: 400px;
    overflow-y: auto;
    margin-left: 24%;
    margin-right: 23%;
  }
  .productt {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .welcom {
    padding-right: 30px;
  }
  .optio {
    margin-left: 300px;
  }
  .optio ul .optio1 {
    margin-left: 22px;
  }
  .filter select {
    margin-left: 126px !important;
    margin-top: 60px;
  }
  .filterr {
    margin-left: 242px;
    font-size: 17px;
    margin-top: 11px;
    z-index: 1000;
  }
  .filter {
    margin-top: -25px;
  }
}
